button {
  margin: 1px 0 9px 17px;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #fb8f1d;
  background-color: #FFFFFF;
}

button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.white {
  color: #fb8f1d;
  -webkit-box-shadow: 1px 1px #fb8f1d;
          box-shadow: 1px 1px #fb8f1d;
}

.white:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #1abe84;
  border: 1px solid #1abe84;
  color: white;
  -webkit-box-shadow: 0 2px #1abe84;
          box-shadow: 0 2px #1abe84;
  cursor: pointer;
}

.white:not(:hover) {
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 992px) {
  .white {
    padding: 12px 60px;
  }
}

.orange {
  color: white;
  background-color: #fb8f1d;
}

.orange:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #1abe84;
  border: 1px solid #1abe84;
  cursor: pointer;
}

.orange:not(:hover) {
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 992px) {
  .orange {
    padding: 12px 50px;
  }
}
