.way {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 410px 171px 100px 0;
  background-image: url("https://github.com/maxim-maidan/travel-website/blob/finder/img/explore-and-travel.png?raw=true");
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: 140px 140px;
}

.way .content {
  width: 448px;
}

.way .content h1 {
  font-size: 2.7em;
  font-weight: 600;
  line-height: 1.35;
  color: #000000;
  margin: 0 0 23px 0;
}

.way .content p {
  font-size: 1.38em;
  font-family: serif;
  line-height: 1.5;
  color: #808080;
}

@media screen and (max-width: 576px) {
  .way .content p {
    text-align: justify;
  }
}

.way .content .orange {
  margin: 41px 0 0 0;
  padding: 14px 40px;
}

@media screen and (max-width: 576px) {
  .way .content .orange {
    margin: 20px calc(50% - 88px);
  }
}

@media screen and (max-width: 992px) {
  .way .content {
    width: 470px;
  }
}

@media screen and (max-width: 576px) {
  .way .content {
    width: calc(100% - 100px);
    margin: 0 50px;
  }
}

@media screen and (max-width: 1200px) {
  .way {
    padding: 200px 70px 100px 0;
    background-position: 50px 150px;
    background-size: auto 60%;
  }
}

@media screen and (max-width: 992px) {
  .way {
    padding: 100px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: none;
  }
}
