@import "constants";
button {
  font-size: $header-fs;
  font-family: "Roboto", sans-serif;
  font-weight: 600;

  border-radius: 10px;
  border: 1px solid $orange;

  background-color: $white;
}
button:active {
  transform: translateY(4px);
}
.white-button {
  color: $orange;
  box-shadow: 1px 1px $orange;

  &:hover {
    transition: 1s;
    background-color: $green;
    border: 1px solid $green;
    color: white;
    box-shadow: 0 2px $green;
    cursor: pointer;
  }
  &:not(:hover) {
    transition: 0.4s;
  }
  @media screen and(max-width:992px) {
    & {
      padding: 12px 60px;
    }
  }
}
.orange-button {
  color: white;
  background-color: $orange;

  &:hover {
    transition: 0.4s;
    background-color: $green;
    border: 1px solid $green;
    cursor: pointer;
  }
  &:not(:hover) {
    transition: 0.4s;
  }
  @media screen and(max-width:992px) {
    & {
      padding: 12px 50px;
    }
  }
}
