$green:#1abe84;
$orange: #fb8f1d;
$dark-blue:#202336;
$gray:#DCDCDC;
$black: #000000;
$white:#FFFFFF;
$gray:#808080;
$menu-background:#ECEFF1;
$white-gray:rgba(0, 0, 0, 0.24);
$box-shadow:rgba(0, 0, 0, .2);


//--header--//
$header-fs:1.1em;
$menu-fs:1.4em;
$button-fs:0.8em;

$margin-top: 40px;
$item-height:50px;
