$green:#1abe84;
$orange: #fb8f1d;
$dark-blue:#202336;
$gray:#DCDCDC;
$black: #000000;
$white:#FFFFFF;
$gray:#808080;
$menu-background:#ECEFF1;
$white-gray:rgba(0, 0, 0, 0.322);
$box-shadow:rgba(0, 0, 0, .2);
$star-color:#ffbb0c;

//--header--//
$header-fs:1.1em;
$menu-fs:1.4em;
$button-fs:0.8em;

$margin-top: 40px;
$item-height:50px;

//--finder--//
$padding-left: 188px;
$big-title:5em;
$title-phone:3em;
$subtitle:1.6em;
$subtitle-phone:1em;
$select-fs:1.15em;
$select-phone:0.7em;

//--way--//
$medium-title: 2.7em;
$way-subtitle: 1.38em;

//--destinations--//
$link-fs: 1.3em;
$box-title:1em;
$title-phone:2em;
$box-subtitle:1em;

//--testimonials--//
$star:2em;
$slider-subtitle:1.6em;
$slider-subtitle-phone:1.3em;
$slider-profession:1.2em;
