@import "constants";
.way {
  width: 100%;
  height: auto;

  padding: 310px 171px 100px 0;

  background-image: url("../../img/way.png");
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: 140px 140px;

  .content {
    width: 448px;
    &__title {
      font-size: $way-title;
      font-weight: 600;
      line-height: 1.35;
      color: $black;

      margin: 0 0 23px 0;
    }
    &__subtitle {
      font-size: $way-subtitle;
      font-family: serif;
      line-height: 1.5;
      color: $gray;

      @media screen and (max-width: 576px) {
        & {
          text-align: justify;
        }
      }
    }
    &__button {
      margin-top: 41px;
      padding: 14px 40px;

      @media screen and (max-width: 576px) {
        & {
          margin: 20px calc(50% - 88px);
        }
      }
    }

    @media screen and (max-width: 992px) {
      & {
        width: 470px;
      }
    }
    @media screen and (max-width: 576px) {
      & {
        width: calc(100% - 100px);
        margin: 0 50px;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    & {
      padding: 200px 70px 100px 0;
      background-position: 50px 150px;
      background-size: auto 60%;
    }
  }
  @media screen and (max-width: 992px) {
    & {
      padding: 100px 0;
      justify-content: center;
      background: none;
    }
  }
}
